html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background: linear-gradient(90deg, #eae3e0 21px, transparent 1%) center,
    linear-gradient(#e4d9d6 21px, transparent 1%) center, #ca6363;
  background-size: 22px 22px;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    color: #795548;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

// Контейнер с контентом
.search-container {
  margin-top: 5rem;
  text-align: center;
}

.title {
  margin-top: 0;
  margin-bottom: 2rem;
}

// Инпут
.search-input {
  height: 35px;
  margin: 10px 10px 10px 0;
  padding: 15px;

  border: 2px solid #cebcb9;
  border-radius: 5px;

  color: #d6825e;
  background-color: #f9efeb;

  font-size: 1rem;
  font-weight: 700;

  &::placeholder {
    opacity: 0.8;
    font-weight: 500;
  }

  &:focus {
    outline: transparent;
    border: 2px solid #978a88;
  }
}

// Список стран
.js-list {
  display: contents;

  // Ссылка на элементах списка стран
  &-link {
    color: inherit;
    text-decoration: none;
  }
}

// Списк языков в странах
.js-languages-list {
  display: contents;
}

// Кнопка Reset
.bn632-hover {
  width: 100px;
  height: 35px;
  border: none;

  font-size: 1rem;
  font-weight: 600;
  text-align: center;

  color: #fff;

  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;

  cursor: pointer;
}

.bn632-hover:hover {
  background-position: 100% 0;
  transition: all 0.4s ease-in-out;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn21 {
  background-image: linear-gradient(
    to right,
    #fc6076,
    #ff9a44,
    #ef9d43,
    #e75516
  );
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
